button {
  font-size: large;
  border: 1px solid black;
  background-color: z;
  color: black;
  padding-top: 1%;
  /*margin-left: 1%;*/
  /*padding-bottom: 1%;*/
  /*width: 20%;*/
  box-shadow: 2px 2px 1px black;
}

button:hover {
  text-shadow: 10px 10px 5px white;
  box-shadow: 10px 10px 5px black;
  filter: blur(5px);
}

p {
}

td {
}

td {
  width: 16.6%;
}

th {
  text-align: left;
}

th {
}

a.nav-link:hover {
  text-shadow: 10px 10px 5px white;
  box-shadow: 10px 10px 5px black;
  errorfilter: blur(5px);
}

a.dropdown-item {
  color: rgb(74,124,241);
}

